<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	{% set status %}up{% endset %}
	{% set title %}hentai.baby is {{ status }}{% endset %}
	<title>{{ title }}</title>
	<link rel=stylesheet href=style.css>
<body>
	<h1>{{ title }}</h1>
	<h2>Current status</h2>
	<p>Nothing to report.</p>
	<h2>Past incidents</h2>
	<section>
		<p>As of <time datetime="2021-09-22T21:03+00:00">2021-09-22 21:03 UTC</time>, hentai.baby is <strong>down</strong>. We’re looking into the issue now.</p>
		<ul>
			<li>Update <time datetime="2021-09-22T21:11+00:00">2021-09-22 21:11 UTC</time>: the issue appears to be DNS-related. We’re moving to another DNS server now.
			<li>Update <time datetime="2021-09-22T21:45+00:00">2021-09-22 21:45 UTC</time>: our DNS server has been updated and the records are propagating now.
			<li>Update <time datetime="2021-09-23T00:24+00:00">2021-09-23 00:24 UTC</time>: the issue appears to have been resolved.
		</ul>
	</section><section>
		<p>As of <time datetime="2021-09-21T01:14:00+00:00">2021-09-21 01:14 UTC</time>, hentai.baby is <strong>down</strong>.</p>
		<ul>
			<li><time datetime="2021-09-21T01:14:00+00:00">2021-09-21 01:14 UTC</time>: The downtime has been observed and the cause is being investigated.
			<li>Update <time datetime="2021-09-21T01:24+00:00">2021-09-21 01:24 UTC</time>: The issue appears to be someone spamming us with new posts. We’re currently attempting to fix this.
			<li>Update <time datetime="2021-09-21T01:53+00:00">2021-09-21 01:24 UTC</time>: The site has been brought back up with making new posts temporarily disabled.
			<li>Update <time datetime="2021-09-21T02:03+00:00">2021-09-21 02:03 UTC</time>: Posting has been tentatively re-enabled.
			<li>Update <time datetime="2021-09-21T02:10+00:00">2021-09-21 02:10 UTC</time>: Posting has been disabled again.
			<li>Update <time datetime="2021-09-21T03:05+00:00">2021-09-21 03:05 UTC</time>: Posting has been re-enabled as the DoS attack has been blocked at the nginx level. We’re working on blocking it at the firewall level as well.
		</ul>
	</section><section>
		<p>As of <time datetime="2021-09-18T10:00:00+00:00">2021-09-18 10:00 UTC</time>, hentai.baby is <strong>down</strong>.</p>
		<ul>
			<li>Update <time datetime="2021-09-18T10:10:00+00:00">2021-09-18 10:10 UTC</time>: We have opened a support ticket with our provider and will let you know how they respond.
			<li>Update <time datetime="2021-09-18T20:17:24+00:00">2021-09-18 20:17 UTC</time>: The issue is resolved. According to our host, it had to do with one of their block storage nodes having a “burp”.
		</ul>
	</section>
	<p>
		~hentai.baby admin<br>
		📩 <a href="mailto:admin@hentai.baby">admin@hentai.baby</a>
	</p>
